<html>
    <head>
        <title>Omar's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Omar Blog</a></h1>
        </div>

        
            {%for post in posts%}
                <div>
                    
                    <h2><a href="">{{post.title}}</a></h2>
                    <p>{{ post.text|linebreaksbr}}</p>
                    <p>Published: {{post.created_date}}</p>
                    
                </div>
                {{post}}<br>
            {%endfor%}
            
        

        
    </body>
</html>